body {
  background: black;
  text-align: center;
}

header {
  background-image: linear-gradient(rgb(90, 90, 90), rgb(71, 71, 71));
  width: 75px;
  height: 100px;
  margin: auto;
}

main {
  background: rgb(90, 90, 90);
  width: 200px;
  height: 550px;
  margin: auto;
  text-align: center;
  padding: 10px;
  border: solid 3px rgb(71, 71, 71);
  border-radius: 10px;
}

.red {
  background: red;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 25px;
  transition: all 250ms ease;
}

.red:hover {
  background-image: radial-gradient(rgb(255, 115, 115), red);
  box-shadow: 0 0 35px rgb(255, 73, 73);
}

.yellow {
  background: yellow;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 25px;
  transition: all 250ms ease;
}

.yellow:hover {
  background-image: radial-gradient(rgb(255, 255, 177), yellow);
  box-shadow: 0 0 35px rgb(255, 255, 169);
}

.green {
  background: rgb(71, 253, 71);
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 25px;
  transition: all 250ms ease;
}

.green:hover {
  background-image: radial-gradient(rgb(203, 255, 203), rgb(71, 253, 71));
  box-shadow: 0 0 35px rgb(105, 255, 75);
}